body {
    background-color: #F2E3D8;
}
button {
    font-size: 20px;
}
h1 {
    font-size: 30px;

}
p {
    font-size: 16px;
}
.row1 {
    width: 90%;
    margin: auto;
}
.headerColumn {
    text-align: center;
}
.col-sm-8 {
    background-color: #B56E57;
    min-height: 200px;
}
.bookListingImageColumn {
    position: relative;
}
.centerContainer {
    display: flex;
    justify-content: center;
}
.innerTextContainer {
    display: block;
    max-width: 700px;
}
.listingButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.inlineContainer {
    display: flex;
    flex-direction: row;
}
.bookDescription {
    word-wrap: break-spaces;
}
.bookImage {
    max-height: 150px;
    padding-top: 10px;
}
.bookImageListingPage {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
#mainHeader {
    background-color: #ACD0D4;
    min-height: 50px;
    margin-bottom: 25px;
}
#headerLogoText{
    text-decoration: none;
    color: #000000;
}
#searchBar {
    display: flex;
    flex-direction: row;
    padding: 0px 50px;
}
#bookListingBlock {
    text-decoration: none;
    color: #000000;
}
<<<<<<< HEAD
#leftcol{
    margin-top: 15px;
}
=======
#bookSellingForm {
    max-width: 700px;
}
>>>>>>> ae07249478c52c2c89845c76a1e4b3d0aea77e5a
